<div class="flex row view relative shoe-catalog">
	<div class="flex col big-gap big-padding filter-bar">
		{{#each filters}}
		<h4>{{@key}}</h4>

		<div class="flex col gap {{@key}}-filter">
			{{#each this}}
			<label class="flex gap" for="{{this}}">
				<input class="filter-checkbox" type="checkbox" name="{{this}}" id="{{this}}" value="{{this}}">
				<span>{{this}}</span>
			</label>
			{{/each}}
		</div>

		{{/each}}
	</div>

	<div class="flex col catalog-section">
		<div class="flex align big-padding gap catalog-menu">
			<button class="flex align small-gap padding filter-button" type="button">
				<img class="ui-icon" src="/assets/icons/equalizer-svgrepo-com.svg">
				<span>Filters</span>
			</button>

			<label class="flex align small-padding relative sort-category" for="sort-dropdown">
				<select class="small-padding sort-dropdown" name="sort-dropdown">
					<option value="newest">Newest</option>
					<option value="popular">Popularity</option>
					<option value="low-high">Price (Low - High)</option>
					<option value="high-low">Price (High - Low)</option>
				</select>
				<div class="flex align">
					<img class="ui-icon" src="/assets/icons/bottom-svgrepo-com.svg">
					<span>Sort</span>
					<img class="ui-icon" src="/assets/icons/bottom-svgrepo-com.svg">
				</div>
			</label>
		</div>

		<div class="flex big-gap wrap justify align big-padding view catalog-display">
			{{#each shoes}}
			<a id="{{brand}}-{{#each variants}}{{@key}}-{{/each}}{{#each variants.sizes}}{{this}}-{{/each}}{{model}}"
				class="flex col gap padding shoe-card" href="{{hostname}}/shoe/{{shoe_id}}">
				<div class="padding shoe-images">
					{{#each photos}}
					<img id="{{@key}}" class="hidden shoe-img" src="{{this}}" alt="{{../brand}}">
					{{/each}}
					<div class="shoe-price">R{{price}}</div>
				</div>

				<div class="flex col gap padding shoe-details">
					<div><b>{{brand}}</b> {{model}}</div>

					<div class="flex tiny-gap wrap align shoe-colors">
						{{#each variants}}
						<span id="{{@key}}" class="shoe-color">{{@key}}</span>
						{{/each}}
					</div>

					{{#each variants}}
					<div id="{{@key}}-size" class="hidden flex tiny-gap wrap align shoe-color-sizes">
						<span>Sizes:</span>
						{{#each this}}
						<span class="shoe-size">{{size}}</span>
						{{/each}}
					</div>
					{{/each}}
				</div>
			</a>
			{{/each}}
		</div>
	</div>

</div>