<div class="flex relative view shoe-catalog">
	<div class="flex col absolute filter-bar">
		<div class="flex col l-gap l-pad middle filter-checkbox-section">
			{{#each filters}}
			<h4>{{capitalize @key}}</h4>

			<div class="flex s-gap wrap center {{@key}}-filters">
				{{#each this}}
				<label class="flex gap pad {{#ifEqual @../key " sizes"}}w-45{{else}}w-90{{/ifEqual}}" for="{{this}}">
					<input type="checkbox" name="{{@../key}}" id="{{this}}" value="{{this}}">
					<span>{{this}}</span>
				</label>
				{{/each}}
			</div>
			{{/each}}

			<h4>Price</h4>

			<div class="flex col s-gap middle price-filters">
				<label class="flex gap middle pad w-90" for="price-filter-min">
					<span>Min</span>
					<input class="w-1" type="number" name="price-filter-min" id="price-filter-min" value="0">
				</label>
				<label class="flex gap middle pad w-90" for="price-filter-max">
					<span>Max</span>
					<input class="w-1" type="number" name="price-filter-max" id="price-filter-max" value="0">
				</label>
			</div>
		</div>
	</div>

	<div class="flex col catalog-section">
		<div class="flex gap l-w-pad middle catalog-menu">
			<button class="flex s-gap w-pad middle mh-2 filter-bar-button" type="button">
				<img class="mh-1 ui-icon" src="/assets/icons/equalizer-svgrepo-com.svg">
				<span>Filters</span>
			</button>

			<label class="flex middle s-pad relative sort-category" for="sort-dropdown">
				<select class="w-pad h-1 mh-2 sort-dropdown" name="sort-dropdown">
					<option value="newest">Newest</option>
					<option value="popular">Popularity</option>
					<option value="low-high">Price (Low - High)</option>
					<option value="high-low">Price (High - Low)</option>
				</select>
				<div class="flex middle">
					<img class="ui-icon" src="/assets/icons/bottom-svgrepo-com.svg">
					<span>Sort</span>
					<img class="ui-icon" src="/assets/icons/bottom-svgrepo-com.svg">
				</div>
			</label>
		</div>

		<div class="flex l-gap wrap center align l-pad catalog-display">
			{{#each shoes}}
			{{!-- use shoe-card id for search --}}
			<a id="{{brand}}-{{model}}-{{#each variants}}-{{@key}}-{{#each this}}-{{size}}{{/each}}{{/each}}"
				class="flex col gap pad shoe-card" href="{{hostname}}/shoe/{{shoe_id}}">
				<div class="pad shoe-images">
					{{#each photos}}
					<img id="{{@key}}" class="hidden shoe-img" src="{{this}}" alt="{{@key}} {{../brand}} {{../model}}">
					{{/each}}
					<div class="absolute shoe-price" id="{{price}}">R{{localize price}}</div>
				</div>

				<div class="flex col gap pad shoe-details">
					<div>
						<b id="{{brand}}" class="shoe-brand">{{brand}}</b>
						<b id="{{brand}}" class="hidden shoe-brand">{{brand}}</b>
						<span>{{model}}</span>
					</div>

					<div class="flex xs-gap wrap middle shoe-colors">
						{{#each variants}}
						<span id="{{@key}}" class="shoe-color">{{@key}}</span>
						{{/each}}
					</div>

					{{!-- Used strictly for filter lookups --}}
					<div class="hidden shoe-sizes">
						{{#each variants}}
						{{#each this}}
						<span id="{{size}}" class="shoe-size">{{size}}</span>
						{{/each}}
						{{/each}}
					</div>

					{{!-- {{#each variants}}
					<div id="{{@key}}-size" class="hidden flex xs-gap wrap middle shoe-sizes">
						<span>Sizes:</span>
						{{#each this}}
						<span class="shoe-size">{{size}}</span>
						{{/each}}
					</div>
					{{/each}} --}}
				</div>
			</a>
			{{/each}}
		</div>
	</div>

</div>

<script src="/scripts/switch_shoe_photo.js" defer></script>
<script src="/scripts/expand_filter_bar.js" defer></script>
<script src="/scripts/filter_shoe_catalog.js" defer></script>
<script src="/scripts/search_shoe_catalog.js" defer></script>