<div class="flex col gap justify align view container">
	<h1>{{title}}</h1>

	<div class="flex row gap wrap justify align container catalog-display">

		{{#each shoe_data}}
		<div class="flex col gap container shoe-card">
			<div class="container shoe-img">
				{{#each photos}}
				<img id="{{color}}-{{brand}}-{{model}}" class="{{#if @index}}hidden{{/if}}" src="{{photo_url}}"
					alt="{{../brand}}">
				{{/each}}
				<div class="shoe-price">R{{price}}</div>
			</div>
			<div class="flex col gap container shoe-details">
				<div><b>{{brand}}</b> {{model}}</div>

				<div class="flex row gap shoe-options">
					<label for="shoe-color">Color
						<select name="shoe-color" id="shoe-color">
							{{#each colors}}
							<option value="{{this}}">{{this}}</option>
							{{/each}}
						</select>
					</label>

					<label for="shoe-size">Size
						<select name="shoe-size" id="shoe-size">
							{{#each sizes}}
							<option value="{{this}}">{{this}}</option>
							{{/each}}
						</select>
					</label>
				</div>

			</div>
		</div>
		{{/each}}

	</div>
</div>