<div class="flex relative view shoe-page">

	<div class="flex col center middle w-1">
		{{#with shoe}}
		<div id="{{shoe_id}}" style="transform: scale(1.75);" class="flex col gap pad shoe-card">
			<div class="pad shoe-images">
				{{#each photos}}
				<img id="{{@key}}" class="hidden shoe-img" src="{{this}}" alt="{{../brand}}">
				{{/each}}
				<div class="shoe-price">R{{price}}</div>
			</div>

			<div class="flex col gap pad shoe-details">
				<div><b>{{brand}}</b> {{model}}</div>

				<div class="flex xs-gap wrap middle shoe-colors">
					{{#each variants}}
					<span id="{{@key}}" class="shoe-color">{{@key}}</span>
					{{/each}}
				</div>

				{{#each variants}}
				<div id="{{@key}}-size" class="hidden flex xs-gap wrap middle shoe-color-sizes">
					<span>Sizes:</span>
					{{#each this}}
					<span id="{{size}}" class="shoe-size">{{size}}</span>
					{{/each}}
				</div>
				{{/each}}
			</div>

			<button id="add-to-cart" type="button">Add To Cart</button>
		</div>
		{{/with}}
	</div>

</div>

<script src="/scripts/shoe_photo_size.js" defer></script>